@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat.ttf');
}
body {
	background: #61746b;
	font-family: 'Montserrat';
	/*overflow: hidden;*/
	/*margin-top: -40px;*/
}
header {
	background: red;
    height: 6vw;
    margin-top: 1.8vw;
    background: #69CCBB;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
header h1 {
<<<<<<< HEAD
	margin-right: 10vw;
=======
	margin-right: 48vw;
>>>>>>> 3869931292df0a72533b56d6b31e848ea2626b53
	color: white;
	font-size: 3vw;
	font-weight: 600;
}
header div {
	background: #3EB6A2;
	height: 3.5vw;
	width: 20vw;
	font-size: 1.7vw;
	margin-right: 4vw;
	cursor: pointer;
	text-align: center;
	transition: background 0.7s;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: 600;
}
header div:hover {
	background: #ffc235;
}
header div a {
	vertical-align: middle;
}
a:visited, a:link {
	text-decoration: none;
	color: #413D42;
}
#main-area {
	background: #DCF5E9;
	margin-bottom: 1.5vw;
	height: 46.5vw;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
}
#main-area .btn {
	width: 30vw;
	background: #81D9A6;
	height: 6vw;
	margin-left: 5vw;
	font-size: 2vw;
	display: flex;
	align-items: center;
    justify-content: center;
    cursor: pointer;
}
main { 
	width: 95vw; 
	margin-left: 2%; 
	margin-top: 1.8vw;
	background: #DCF5E9;
}
#base {
	height: 47vw; 
	width: 35vw; 
	margin-left:32%; 
	margin-top:3.6vw;
	background: #DCF5E9;
	display: flex;
    justify-content: center;
    align-items: center;
}
span {
	font-size: 1.8vw;
	text-align: center;
}
#base button {
	background: none;
	border: none;
	font-family: 'Montserrat';
	font-size: 1.8vw;
	cursor: pointer;
	transition: color 0.7s;
}
#base button:hover {
	color: #3EB6A2;
}
form {
	flex-direction: column;
	width: 25vw;
}
form input {
	height: 2.5vw;
    font-size: 1.1vw;
    padding-left: 0.8vw;
    border: #3EB6A2 solid 2px;
    border-radius: 5px;
   	font-family: 'Montserrat';
}
form label {
	font-family: 'Montserrat';
	font-size: 1.5vw;
	margin-bottom: 0.5vw;
	margin-top: 2vw;
}
.submit {
	background: #95DBC2;
    display: flex;
    width: 15vw;
    justify-content: center;
    height: 3vw;
    align-items: center;
    margin-left: 5vw;
}
#main-area h3 {
	margin-left: 5.5vw; 
	margin-top: 2vw;
}
textarea {
	height: 2.5vw;
    font-size: 1.1vw;
    border: #3EB6A2 solid 2px;
    border-radius: 5px;
   	font-family: 'Montserrat';
   	padding-left: 0.8vw;
   	padding-top: 0.8vw;
}
.misc {
	background: #A4E0CB;
	width: 30vw;
    height: 30vw;
    position: absolute;
    margin-left: 60vw;
    display: flex;
    cursor: default;
    justify-content: center;
    margin-top: -40vw;
}
p {
	font-size: 1vw;
}
.add-task-btn {
	background: #74B3E7;
	height: 3.5vw;
	width: 12vw;
	font-size: 1.7vw;
	cursor: pointer;
	text-align: center;
	transition: background 0.7s;
    font-weight: 600;
    border: none;
    font-family: 'Montserrat';
    color: white;
    margin-top: 1.5vw;
}
.add-task-btn:hover {
	background: #ffc235;
}

.task {
	display: flex;
	background: #a9f2d9;
	cursor: default;
	width: 90%;
	height: 20%;
	margin-left: 3vw;
	flex-direction: column;
    align-items: flex-start;
    padding: 1vw 2vw;
    border: #49C1AD 2px solid;
    display: block;
}
.task button {
	background: #74B3E7;
	width: 20vw;
	font-size: 1.8vw;
	cursor: pointer;
	text-align: center;
	transition: background 0.7s;
    font-weight: 600;
    border: none;
    font-family: 'Montserrat';
    color: white;
    margin-top: 1.5vw;
    position: absolute;
    height: 4.5vw;
    margin-left: 62vw;
}
.task button:hover {
	background: #ffc235;
}

.table {
	width: 90%;
	border: none;
	margin-bottom: 20px;
	margin-top: 1%;
    margin-left: 5%;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #217cb9;;
	font-size: 14px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
	background: darkseagreen;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;

}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;

}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
	
}

.add-btn { 
	background-color: #aeb3c9;
    color: black;
    border: 3px solid #4c61af;
    border-radius: 12%;
    width: 50%;
    position: center;
    margin-left: 27%;
} 
.add-btn:hover {
	background-color: #4c61af;
	cursor: pointer;
}
.desc {
	overflow-wrap: break-word;
    max-width: 50ch;
}

.add-btn2 { 
	background-color: #aeb3c9;
    color: black;
    border: 3px solid #4c61af;
    border-radius: 12%;
    width: 50%;
    position: center;
    margin-left: 27%;
} 
.add-btn2:hover {
	background-color: #4c61af;
	cursor: pointer;
}

.add-btn22 { 
	background-color: #aeb3c9;
    color: black;
    border: 3px solid #4c61af;
    border-radius: 12%;
    width: 50%;
    position: center;
    margin-left: 27%;
} 
.add-btn22:hover {
	background-color: #4c61af;
	cursor: pointer;
}

.add-btn3 { 
	background-color: #aeb3c9;
    color: black;
    border: 3px solid #4c61af;
    border-radius: 12%;
    width: 50%;
    position: center;
    margin-left: 27%;
} 
.add-btn3:hover {
	background-color: #4c61af;
	cursor: pointer;
}
.add-btn33 { 
	background-color: #aeb3c9;
    color: black;
    border: 3px solid #4c61af;
    border-radius: 12%;
    width: 50%;
    position: center;
    margin-left: 27%;
} 
.add-btn33:hover {
	background-color: #4c61af;
	cursor: pointer;
}